* {
    border: 1px solid gray;
    margin: 3px;
    padding: 5px;
}
p{
    font-size: 20px;
}
.w50{
    width: 50%;
}
.w70{
    width: 70%;
}
.jobb{
    margin-left: auto;
    margin-right: 0;
}
.koz{
    margin-left: auto;
    margin-right: auto;
}
.kek{
    border-color: blue;
}
.piros{
    border-color: red;
}
.zold{
    border-color: green;
}
.border3px{
    border-radius: 3px;
}
.border5px{
    border-radius: 5px;
}
.border10px{
    border-radius: 10px;
}
/* rendben van. pushold fel githubra */
